* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  background-color: #232323; }

header {
  height: 100px;
  background-color: #663399;
  margin-bottom: 50px; }

h1 {
  font-style: italic;
  font-size: 6rem;
  font-weight: bold;
  color: #215ce6;
  font-family: 'Gemunu Libre', sans-serif; }

h2 {
  font-size: 35px;
  font-weight: bold;
  padding: 15px 30px;
  margin-top: 25px;
  font-family: 'Big Shoulders Stencil Display', cursive;
  color: #215ce6; }

.form-register {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000; }
  .form-register .botons {
    width: 100%;
    background: #215ce6;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px; }
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px; }
  .form-register input {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #215ce6;
    font-family: 'calibri';
    font-size: 18px;
    color: white; }
  .form-register textarea {
    background-color: #24303c;
    border: solid 1px #215ce6; }
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px; }
  .form-register a {
    color: white;
    text-decoration: none; }
    .form-register a a:hover {
      color: white;
      text-decoration: underline; }

/*---NAVEGADOR---*/
#d-flex {
  visibility: hidden; }

.navbar {
  background-color: #663399;
  z-index: 1;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.9); }
  .navbar li {
    padding-left: 10px;
    font-size: 16px;
    word-spacing: 5px;
    margin: 5px;
    font-weight: bold; }
    .navbar li:hover {
      text-transform: uppercase;
      font-weight: bold;
      transition: 1.5s;
      font-size: 18px; }
  .navbar img {
    width: 150px;
    height: 110px; }
  .navbar .d-flex input {
    border: solid 1.8px #215ce6;
    font-size: 14px;
    height: 24px;
    border-radius: 12px; }
  .navbar .d-flex button {
    display: inline-flex;
    align-items: center;
    color: azure;
    border: solid 1.5px #215ce6;
    height: 24px;
    border-radius: 10px; }
    .navbar .d-flex button:hover {
      background-color: #215ce6;
      border: solid 1.5px #215ce6; }

/*---INDEX---*/
.titulo {
  margin: 2.1rem 2.5rem;
  padding-top: 20px;
  font-style: italic;
  font-size: 6rem;
  font-weight: bold;
  color: #215ce6;
  font-family: 'Gemunu Libre', sans-serif; }

/*---INDEX NOTICIAS---*/
.containerCard {
  perspective: 1000px; }
  .containerCard__padre {
    position: relative;
    margin: 25px; }
    .containerCard__padre:hover .card {
      transform: rotateX(180deg); }

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: all 1.5s;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.75); }
  .card__front img {
    border-radius: 10px; }
  .card__back {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: rotateX(180deg);
    background-image: url(/multimedia/Cardback2.jpg);
    background-size: cover;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 10px; }

.body__card_back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 15px;
  color: #f6f5f8;
  transform: translateZ(60px); }

/*---INDEX SECCION UNO---*/
.sectionUno {
  background-color: #663399;
  margin: 30px 20px;
  -webkit-box-shadow: 6px 6px 4px -1px #215ce6;
  -moz-box-shadow: 6px 6px 4px -1px #215ce6;
  box-shadow: 6px 6px 4px -1px #215ce6;
  border-radius: 10px;
  padding: 15px; }
  .sectionUno__parrafo {
    color: #ffffffef;
    margin-top: 5px;
    margin-bottom: 5px; }
  .sectionUno img {
    -webkit-box-shadow: -6px -6px 4px -1px #232323;
    -moz-box-shadow: -6px -6px 4px -1px #232323;
    box-shadow: -6px -6px 4px -1px #232323;
    border-radius: 10px; }

/*-----RECIENTES-----*/
.tituloRecientes {
  font-size: 35px;
  padding: 15px 26px;
  margin-top: 25px;
  font-family: 'Big Shoulders Stencil Display', cursive;
  color: #215ce6; }

.sectionRecientes {
  margin: 26px;
  padding: 32px;
  border-radius: 20px;
  background-image: linear-gradient(to top, #663399, #215ce6, #663399);
  flex-flow: row wrap;
  justify-content: space space-between;
  justify-content: center;
  text-align: center;
  -webkit-box-shadow: 0px 0px 5px 6px black;
  -moz-box-shadow: 0px 0px 5px 6px black;
  box-shadow: 0px 0px 5px 6px black; }
  .sectionRecientes h3 {
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold; }
  .sectionRecientes img {
    padding: 3px;
    margin: 20px 20px 0px 20px;
    border: solid 2px black;
    border-radius: 15px;
    width: 230px;
    height: 280px; }
    .sectionRecientes img:hover {
      transform: scale(1.1, 1.1);
      transition: 1s;
      cursor: pointer; }

/*---DESTACADOS---*/
.tituloDestacados {
  font-size: 35px;
  padding: 15px 26px;
  margin-top: 25px;
  font-family: 'Big Shoulders Stencil Display', cursive;
  color: #215ce6; }

.sectionDestacados {
  margin: 26px;
  padding: 32px;
  border-radius: 20px;
  background-image: linear-gradient(to top, #663399, #215ce6, #663399);
  flex-flow: row wrap;
  justify-content: space space-between;
  justify-content: center;
  text-align: center;
  -webkit-box-shadow: 0px 0px 5px 6px black;
  -moz-box-shadow: 0px 0px 5px 6px black;
  box-shadow: 0px 0px 5px 6px black; }
  .sectionDestacados h3 {
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold; }
  .sectionDestacados img {
    padding: 3px;
    margin: 20px 20px 0px 20px;
    border: solid 2px black;
    border-radius: 15px;
    width: 230px;
    height: 280px; }
    .sectionDestacados img:hover {
      transform: scale(1.1, 1.1);
      transition: 1s;
      cursor: pointer; }

.sectionDirectorio {
  margin: 26px;
  padding: 32px;
  border-radius: 20px;
  background-image: linear-gradient(to top, #663399, #215ce6, #663399);
  flex-flow: row wrap;
  justify-content: space-evenly; }
  .sectionDirectorio h3 {
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold; }
  .sectionDirectorio img {
    margin: 20px 20px 0px 20px;
    padding: 3px;
    border: solid 2px black;
    border-radius: 15px;
    width: 180px;
    height: 220px; }
    .sectionDirectorio img:hover {
      transform: scale(1.1, 1.1);
      transition: 1s;
      cursor: pointer; }

/*---INCIO DE SESION---*/
.tituloInicio {
  font-size: 35px;
  padding: 10px 40px;
  margin-top: 25px;
  font-family: 'Big Shoulders Stencil Display', cursive;
  color: #215ce6;
  font-weight: bold; }

.sectionInicio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 250PX;
  background-color: #f6f5f8;
  margin: 40px 26px 80px;
  padding: 25px;
  border-radius: 20px;
  -webkit-box-shadow: 6px 6px 4px -1px #215ce6;
  -moz-box-shadow: 6px 6px 4px -1px #215ce6;
  box-shadow: 6px 6px 4px -1px #215ce6; }

/*----REGISTRO----*/
.tituloRegistro {
  font-size: 35px;
  padding: 15px 26px;
  margin-top: 25px;
  font-family: 'Big Shoulders Stencil Display', cursive;
  color: #215ce6; }

/*---CONTACTO---*/
.tituloContacto {
  font-size: 35px;
  padding: 15px 26px;
  margin-top: 25px;
  font-family: 'Big Shoulders Stencil Display', cursive;
  color: #215ce6; }

/*-----FOOTER-----*/
footer {
  width: 100%;
  background-image: linear-gradient(to right, #663399, #215ce6, #663399);
  padding: 30px;
  -webkit-box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.9);
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.9); }
  footer p {
    text-align: end;
    padding-top: 10px;
    font-weight: bolder; }
  footer .iconsContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px; }
    footer .iconsContainer button {
      width: 35px;
      background: white;
      border: none;
      border-radius: 35px;
      cursor: pointer;
      padding: 5px;
      margin: 0px 5px;
      color: #215ce6;
      font-size: 16px;
      transition: .3s ease all; }
      footer .iconsContainer button:hover {
        background: #663399;
        color: #f6f5f8;
        box-shadow: 3px 3px 10px black; }

/*---SECCION MEDIA Q---*/
/*-----Responsive 575px-----*/
@media only screen and (max-width: 575px) {
  .titulo {
    text-align: center; } }

/*-----Responsive 576px a 767px-----*/
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .titulo {
    text-align: center; }
  .sectionUno__parrafo {
    margin: 11PX 13PX 5PX 13PX; } }

/*-----Responsive 768px a 991px-----*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .titulo {
    text-align: center; }
  .sectionUno__parrafo {
    margin: 11PX 13PX 5PX 13PX; } }

/*Responsive 992px a 1199px-----*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar li {
    font-size: 13px;
    word-spacing: 5px;
    margin: 5px;
    font-weight: bold; }
    .navbar li:hover {
      text-transform: uppercase;
      font-weight: bold;
      transition: 1.5s;
      font-size: 15px; }
  .sectionUno p {
    color: #ffffffef;
    font-size: 19px;
    margin-top: 8px;
    margin-bottom: 5px;
    font-size: 1.16vw; } }

.body__card_back p {
  font-size: 1.20vw; }

/*Responsive 1200px a 1400px-----*/
@media (min-width: 1200px) and (max-width: 1400px) {
  .sectionUno p {
    color: #ffffffef;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.19vw; } }

.body__card_back p {
  font-size: 1.25vw; }
