*{
    padding   : 0;
    margin    : 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    background-color:$background-gris;
}

header{
    height: 100px;
    background-color: $color-primario;
    margin-bottom: 50px;
}

h1{
    font-style: italic;
    font-size: 6rem;
    font-weight: bold;
    color: $color-secundario;
    font-family: 'Gemunu Libre', sans-serif;
}

h2{
    font-size: 35px;
    font-weight: bold;
    padding: 15px 26px;
    margin-top: 25px;
    font-family: 'Big Shoulders Stencil Display', cursive;
    color: $color-secundario;
}
