@import "variables";
@import "global";


/*---NAVEGADOR---*/

@import "nav";

/*---INDEX SECCION PRINCIPAL---*/

.titulo{
    margin: 2.1rem 2.5rem;
    padding-top: 20px;
    font-style: italic;
    font-size: 6rem;
    font-weight: bold;
    color: $color-secundario;
    font-family: 'Gemunu Libre', sans-serif;
}


.container__card{
    perspective: 1000px;
}

.cards__father{
    position: relative;
    margin: 25px;
    &:hover .card{
        transform: rotateX(180deg);
    }
}

.card{
    position: relative;
    transform-style: preserve-3d;
    transition: all 1.5s;
    border-radius: 10px;
    border: none;
    -webkit-box-shadow: 0px 0px 4px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px 5px rgba(0,0,0,0.75);
}

.card__front{
    img{border-radius: 10px;
    }
}

.card__back{
    width: 100%;
    height: 100%;
    position: absolute;
    transform: rotateX(180deg);
    background-image: url(/multimedia/cardback.jpg);
    background-size: cover;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 10px;
}

.body__card_back{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 15px;
    color: #f6f5f8;
    transform: translateZ(60px);
}

.sectionUno{
    background-color: $color-primario;
    margin: 30px 20px;
    -webkit-box-shadow: 6px 6px 4px -1px rgba(33,92,230,1);
    -moz-box-shadow: 6px 6px 4px -1px rgba(33,92,230,1);
    box-shadow: 6px 6px 4px -1px rgba(33,92,230,1);
    border-radius: 10px;
    padding: 15px;
    &__parrafo{
        color: #ffffffef;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    img{
        -webkit-box-shadow: -6px -6px 4px -1px rgba(35,35,35,1);
        -moz-box-shadow: -6px -6px 4px -1px rgba(35,35,35,1);
        box-shadow: -6px -6px 4px -1px rgba(35,35,35,1);
        border-radius: 10px;
    }
}

/*-----RECIENTES-----*/
.tituloRecientes{
    font-size: 35px;
    padding: 15px 26px;
    margin-top: 25px;
    font-family: 'Big Shoulders Stencil Display', cursive;
    color: $color-secundario;
}

.sectionRecientes{
    margin: 26px;
    padding: 32px;
    border-radius: 20px;
    background-image: linear-gradient(to top, $color-primario, $color-secundario, $color-primario);
    flex-flow: row wrap;
    justify-content: space space-between;
    justify-content: center;
    text-align: center;
    -webkit-box-shadow: 0px 0px 5px 6px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 5px 6px rgba(0,0,0,1);
    box-shadow: 0px 0px 5px 6px rgba(0,0,0,1);
    h3{
        margin-top: 20px;
        text-align: center;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: bold;
    }
    img{
        padding: 3px;
        margin: 20px 20px 0px 20px;
        border: solid 2px black;
        border-radius: 15px;
        width: 230px;
        height: 280px;
        &:hover{
            transform: scale(1.1 , 1.1);
            transition: 1s;
            cursor: pointer;
        }
    }
}


/*---DESTACADOS---*/

.tituloDestacados{
    font-size: 35px;
    padding: 15px 26px;
    margin-top: 25px;
    font-family: 'Big Shoulders Stencil Display', cursive;
    color: $color-secundario, ;
}

.sectionDestacados{
    margin: 26px;
    border-radius: 20px;
    background-image: linear-gradient(to top, $color-primario, $color-secundario, $color-primario);
    display: grid;
    grid-template-rows: repeat(2, 370px );
    grid-template-columns: repeat(3, 300px);
    grid-template-areas: 
    "naruto bnh jujutsu"
    "naruto kimetsu tokio";
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    text-align: center;
    h3{
        margin-top: 20px;
        text-align: center;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: bold;
    }
    img{
        padding: 3px;
        border: solid 2px black;
        border-radius: 15px;
        width: 230px;
        height: 280px;
        &:hover{
            transform: scale(1.1 , 1.1);
            transition: 1s;
            cursor: pointer;
        }
    }
}


.naruto{
    grid-area: naruto;
}
.bnh{
    grid-area: bnh;
}
.jujutsu{
    grid-area: jujutsu;
}
.kimetsu{
    grid-area: kimetsu;
}
.one{
    grid-area: one;
    display: none;
}
.tokio{
    grid-area: tokio;
}

/*----DIRECTORIO----*/

.tituloDirectorio{
    font-size: 35px;
    padding: 15px 26px;
    margin-top: 25px;
    font-family: 'Big Shoulders Stencil Display', cursive;
    color: $color-secundario, ;
}

.sectionDirectorio{
    margin: 26px;
    padding: 32px;
    border-radius: 20px;
    background-image: linear-gradient(to top, $color-primario, $color-secundario, $color-primario);
    flex-flow: row wrap;
    justify-content: space-evenly;
    h3{
        margin-top: 20px;
        text-align: center;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: bold;
    }
    img{
        margin: 20px 20px 0px 20px;
        padding: 3px;
        border: solid 2px black;
        border-radius: 15px;
        width: 180px;
        height: 220px;
        &:hover{
            transform: scale(1.1 , 1.1);
            transition: 1s;
            cursor: pointer;
        }
    }
}


/*---INCIO DE SESION---*/

.tituloInicio{
    font-size: 35px;
    padding: 10px 40px;
    margin-top: 25px;
    font-family: 'Big Shoulders Stencil Display', cursive;
    color: $color-secundario, ;
    font-weight: bold;
}

.sectionInicio{
    width: 70%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    height: 250PX;
    background-color: #f6f5f8;
    margin: 40px 26px 80px;
    padding: 25px;
    border-radius: 20px;
    -webkit-box-shadow: 6px 6px 4px -1px rgba(33,92,230,1);
    -moz-box-shadow: 6px 6px 4px -1px rgba(33,92,230,1);
    box-shadow: 6px 6px 4px -1px rgba(33,92,230,1);
}
/*----REGISTRO----*/
.tituloRegistro{
    font-size: 35px;
    padding: 15px 26px;
    margin-top: 25px;
    font-family: 'Big Shoulders Stencil Display', cursive;
    color: $color-secundario, ;
}

.sectionRegistro{        
    width: 95%;
    height: 600px;
    padding: 25px;
    background-color: #f3edf8;
    border-radius: 20px;
    margin: 40px 26px 80px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    li{
        list-style-type: none;
    }  
}

/*---CONTACTO---*/

.tituloContacto{
    font-size: 35px;
    padding: 15px 26px;
    margin-top: 25px;
    font-family: 'Big Shoulders Stencil Display', cursive;
    color: $color-secundario, ;
}

.sectionContacto{
    width: 600px;
    height: 580px;
    margin: 26px;
    padding: 20px;
    border-radius: 20px;
    background-color: #f3edf8;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
}


/*-----FOOTER-----*/

footer{
    width: 100%;
    background-image: linear-gradient( to right, $color-primario, $color-secundario, $color-primario);
    padding: 30px;
    -webkit-box-shadow: 0px -4px 4px 0px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px -4px 4px 0px rgba(0,0,0,0.9);
    box-shadow: 0px -4px 4px 0px rgba(0,0,0,0.9);
    p{
        text-align: end;
        padding-top: 10px;
        font-weight: bolder;
    }
    .iconsContainer{
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 20px;
        button{
            width: 35px;
            background: white;
            border:none;
            border-radius: 35px;
            cursor: pointer;
            padding: 5px;
            margin: 0px 5px;
            color: $color-secundario;
            font-size: 16px;
            transition: .3s ease all;
            &:hover{
                background: $color-primario;
                color: #f6f5f8;
                box-shadow: 3px 3px 10px rgba(0, 0, 0, 10);
            }
        }
    }
}

/*---SECCION MEDIA Q---*/

@import "mediaqueries";
